h1 {

    
    
    font-size: 80px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
body {
    text-align: center;
}
body {
    background: rgb(0, 0, 0) url('../images/clamshell.gif') center fixed;
    background-size: 400px;}